*{
    padding: 0px;
    margin : 0px;
    box-sizing: border-box;
}
/* rgb(182, 118, 242) */
.navBar{
    height: 50px;
    background-color: rgb(122, 27, 211);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.navig{
    list-style: none;
    display: flex;
    gap:130px;
    font-size: 1.5em;
}
.navig li a{
    color : white;
}
nav h1{
    display: inline;
    text-decoration: underline;
}

.present_pg{
    text-decoration: underline;
    /* text-decoration-color :rgb(53, 1, 53); */
}

.container{
    display:flex;
    margin:80px;
    margin-left:180px;
    color:rgb(182, 118, 242);
    position:relative;
}

.ImgContainer{
    background-color: white;
    width:400px;
    height:500px;
    padding:10px;
}
/* rgb(2, 2, 81) */
.Imgback{
    background-color:rgb(182, 118, 242) ;
    width:400px;
    height:500px;
    position: absolute;
    right:185px;
    z-index:-10;
    top: 5px;
}